

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}


form {
  /* border: 1px solid black; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  box-shadow: 2px 2px 10px;
  border-radius: 10px;
}
input[type='radio'] {
  /* accent-color: yellow; */
}

form > input {
  width : 75%;
  margin: 10px
}

form > div {
  width : 75%;
  margin: 10px
}

form > div > div {
    display: flex;
    width: 75%;
    justify-content: space-between;
    margin: 10px 0
}

form > textarea {
  width : 75%;
  height: 50px;
  margin: 10px
}

.list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 25px; */
}

.list-container > section {
  width: 75%;
  height: 200px;
  margin: 25px;
  padding: 10px;
  box-shadow: 2px 2px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.list-container > section > h2p {
}

.list-container > section > p {
}

.list-container > section > div {
  width: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.list-container > section > div > button {
  width: 50px;
}